*:not(i) {
    font-family: 'Varela Round', sans-serif;
}

.title {
    background-color: #c1502e;
    font-family: 'Varela Round', sans-serif;
}

.tbar {
    height: 38px;
}

.file-editors {
    height: 415px;
}

.file-console {
    height: 400px;
}

.file-query {
    height: 150px;
}

.subtitulo {
    font-size: large;
}

.subtitulo_t {
    font-size: large;
    position: absolute;
    bottom: 2px;
}

.foot {
    color: lightgrey;
}

hr {
    border-width: 0.13em;
    border-color: gray;
}

.item:hover {
    background-color: #292b2c;
}

.dropdown-menu {
    padding: 0% !important;
}

.sel_g {
    position: absolute;
    right: 0%;
}

.boton {
    width: 170px;
    margin-bottom: 0px;
}